<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    {% if title %}
    <title>{{ title }} | Birdfeeder | thelongrunsmoke</title>
    {% else %}
    <title>Birdfeeder | thelongrunsmoke</title>
    {% endif %}
<body>
<header>
    <div class="logo">
        <span>Birdfeeder</span>
    </div>
</header>
<section>
    <article>
        {% block content %}{% endblock %}
    </article>
</section>
<footer>
    <span>thelongrunsmoke&#169;</span>
</footer>
</body>
<script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/date.format.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>