<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    {% if title %}
    <title>{{ title }} | Birdfeeder | thelongrunsmoke</title>
    {% else %}
    <title>Birdfeeder | thelongrunsmoke</title>
    {% endif %}
<body>
<header>
    <div class="logo">
        <span>Birdfeeder</span>
    </div>
</header>
<section>
        <article>
            <b>Maintenance in progress</b>
            <p>&quot;Birdfeeder&quot; is under maintenance now. We should back shortly. Thanks for your patience.</p>
        </article>
    </section>
<footer>
    <span>thelongrunsmoke&#169;</span>
</footer>
</body>
</html>